html {
  /* background-color: #121214 */
  background-color:#0661A4;
}

/* START HEADER */
header {
  background-color: #0288EA;
  display: flex;
  padding-left: 5rem;
  align-items: center;
}

h2 {
  color: white;
  padding-left: 1rem;
}

.icon-study{
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
}
.icon-study{
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
}

.container-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-title{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.session{
  margin:2rem;
  text-decoration: none;
  color: white;
  font-size: x-large;
  border: 10px solid #0661A4 ;
  background-color: #0661A4;
  border-radius:10px;
  width: 8rem;
  text-align: center;
}

.session:hover {
  background-color: white;
  color: #0661A4;
  border-color: white;
  cursor: pointer;
}
/* END HEADER */

body {
  font-family: Arial, sans-serif;
  /* background-color: #D9D9D9; */
  margin: 0;
  /* padding: 20px; */
  color: #333;
}


/* START MODAL STUDY CREATE */
.studyModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content-create-study {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.modal-content-create-study h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group-select {
  display: flex;
}

.form-group-select-content{
  width: 100%;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: #66afe9;
  outline: none;
}

.form-buttons {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.form-buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-buttons button[type="submit"] {
  background-color: #28a745;
  color: white;
}

.form-buttons button[type="button"] {
  background-color: #dc3545;
  color: white;
}

.form-buttons button:hover {
  opacity: 0.8;
}

/* END MODAL STUDY CREATE*/


/*START CARD STUDY */
.study-card {
  width: calc(100% - 20rem); 
  margin: 0 auto;
  background-color: white;
  height: 12em;
  /* border-left: 1rem solid #ff4d4f; */
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.study-card-content-title {
  width: 22rem;
  align-content: center;
  text-align: center;
}

.study-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.study-card-content-values {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
}

.study-description {
  flex: 1;
  background-color: #e7e7e7;
  padding: 0.5rem;
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
}

.card-study-btns {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  margin: 1rem;
}

.btn-study-completed {
  width: 6rem;
  height: 2.5rem;
  margin-right: 1rem;
  background-color: #388E3C;

  color: white;
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn-study-delete {
  width: 6rem;
  height: 2.5rem;
  margin-right: 1rem;
  background-color: #ff4d4f;
  color: white;
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn-study-schedule {
  width: 6rem;
  height: 2.5rem;
  margin-right: 1rem;
  background-color: #1890ff;

  color: white;
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn-study-books {
  width: 6rem;
  height: 2.5rem;
  margin-right: 1rem;
  background-color: #1890ff;

  color: white;
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}

/* END CARD STUDY */


/* START TOAST */
/* Estilos para o toast */
#toast {
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  min-width: 250px;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to right, #4CAF50, #388E3C);
  /* Degradê de verde */
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  animation: slideIn 0.5s ease-in-out, slideOut 0.5s 2.5s ease-in-out;
  transform-origin: right bottom;
  opacity: 0;
  visibility: hidden;
}

#toast.show {
  opacity: 1;
  visibility: visible;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

/* END TOAST */

.confirmation-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.confirmation-modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.modal-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.modal-content p {
  margin-bottom: 15px;
}

.modal-content button {
  width: 6rem;
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.modal-content button:hover {
  background-color: #45a049;
}

.modal-content button.close-modal {
  background-color: #f44336;
}

/* START MODAL CONFIRMATION  */


/* START indicador visual card concluido */
.aviso {
  display: inline-block;
  height: 1rem;
  padding: 8px 12px;
  background-color: #f44336;
  color: white;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* END indicador visual card concluido */


/* START indicador visual categoria do card */
.category-aviso {
  display: flex;
  flex: none;
  height: 1rem;
  padding: 8px 12px;
  background-color: #0288EA;
  color: white;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* END indicador visual categoria do card */



/* START BOTAO DE MENU */
.menuContentBtn{
  display: flex;
  justify-content: center;
}
.menuContentBtn button{
  margin: 2rem;
}
.btnMenu {
  background-color: white; 
  color: #333; 
  border: 2px solid #ddd; 
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold;
  border-radius: 5px; 
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnMenu:hover {
  background-color: #f8f8f8; 
  border-color: #ccc;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btnMenu:active {
  background-color: #eee; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transform: translateY(2px);
}

/* STAR para o select personalizado */
.order-select {
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
}

.order-select label{
  padding-bottom: 0.5rem;
}

.order-select select {
  background-color: white; 
  color: #333; 
  border: 2px solid #ddd; 
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold;
  border-radius: 5px; 
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}

.order-select select:hover {
  background-color: #e0e0e0;
}

.order-select select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* END BOTAO DE MENU */

/* START QUANDO N TIVER CARDS */
.content-caixa-vazia{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.img-caixa-vazia{
  width: 10rem;
  height: 10rem;
  padding-bottom: 3rem ;
}

/* END QUANDO N TIVER CARDS */




/* STARRT MODAL CATEGORY */
/* Modal Styles */
.modalCategory {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalCategory-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalCategory-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#saveCategory {
  background-color: #4CAF50;
  color: white;
  border: none;
}

#cancelCategory {
  background-color: #f44336;
  color: white;
  border: none;
}

#categoryList {
  list-style-type: none;
  padding: 0;
}

#categoryList li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}
/* END MODAL CATEGORY */